html {
    height: 100%;
}

body {
    background-color: black;
    margin: 0px;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

.container {
    height: 150%;
    background-color: black;
    display: flex;
    justify-content: center;
}

.content{
    display: flex;
    justify-content: center;

    background-color: black;

    width: 100%;
    height: 100%;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.background img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: auto;
    z-index: 1;
    pointer-events: none;

    animation: logo-sway 5s ease infinite alternate;
}

@keyframes logo-sway {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
        transform: translate(-52%, -50%) rotate(-.1deg);
    }
    100% {
        transform: translate(-48%, -50%) rotate(0deg);
    }
}

.gradient-overlay{
    margin-top: 600px;
    position: absolute;
    z-index: 1;

    width: 100%;
    height: 305px;

    
    background: linear-gradient(to top, rgba(12, 12, 12, 1), rgba(0, 0, 0, 0)) no-repeat;
    background-size: 100% 305px;
    background-color: transparent;
}

.main-content{
    margin-top: 900px;
    position: absolute;
    z-index: 1;

    display: flex;
    justify-content: center;
    flex-direction: column;

    gap: 100px;

    padding: 0 20px 0 20px;

    width: 100%;
    height: fit-content;

    background-color: rgb(12, 12, 12);
    box-sizing: border-box;
}

/* section rulesets */
.section, .section-title{
    display: block;
}

.section-title > h1{
    font-family: "WidePixelFont";
    font-size: 3rem;
}

.section-content{
    display: flex;
}


/* about section */
.about-game{
    margin: auto;
    width: 50%;
}

.about-game p, .about-game h1{
    text-align: center;
}


/* navigation section */
.navigation{
    height: 1000px;
}

.navigation-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navigation-card{
    width: 350px;
    height: 500px;
    background-color: red;

    border-radius: 5px;
    overflow: hidden;

    transition: transform 0.1s ease;
}

.navigation-card:hover{
    transform: translateY(-2%);
}

.navigation-card button{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.navigation-card h2{
    text-align: center;
    font-size: 1.7rem;
}


/* changing section  */
.changing{
    
}