.window {
    border: black 3px solid;
    max-height: 400px;
    max-width: 600px;
}

.titlebar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: green;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.window-content {
    width: 600px;
    height: 350px;
    overflow: auto;
    padding-left: 2px;
    padding-right: 2px;
    box-sizing: border-box;
}

td {
    padding-right: 20px;
}

th {
    text-align: left;
}

td, th {
    min-width: 80px;
}

table {
    border-collapse: collapse;
}

tr:hover {
    background-color: gainsboro;
}

tr {
    border: 2px solid gray;
}