html {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

p{
    line-height: 25px;
}

/* This is voodoo. I dont know what is happening here but you can make the scrollbar dissapear. */
body.noscroll {
    overflow: hidden;       /* disables all scrolling */
    height: 100vh;          /* prevent sneaky overflows */
}
  
body.noscroll::-webkit-scrollbar {
    display: none;          /* hides the scrollbar (WebKit browsers) */
}

body::-webkit-scrollbar {
    display: none;          /* hides the scrollbar (WebKit browsers) */
}